/* styles.css */

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(143, 124, 1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}
#learn
{
 width:  80px;
 text-align: center;
 height:10px;
 display: flex;
 align-items: center;
 margin-top: 19px;
 font-size: 16px;
 font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 375px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fbf3f3;
  border: 1px solid #616d03;
  border-radius: 5%;
  box-shadow: 10px 10px 1px 1px rgb(14, 13, 13);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}
#span{
  color: rgb(93, 87, 87);
  font-family: Arial, Helvetica, sans-serif;
}
.as {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
  margin-right: 2px;
}
article
{
  display: flex;
  flex-direction:row;
}
.pot
{
  position: relative;
  top: 11px;
  margin-left: 5px;
  padding-top: 5px;
  padding-left: 10px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.img
{
  width: fit-content;
  height: fit-content;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 5%;
  border-color: #000;
}
footer{
  display: flex;
  justify-content: end;
}
.sub-container {
  background-color: #f5b041;
  padding: 1px 2px 0 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: left;
  align-self: flex-start;
}

.container img {
  max-width: 50%;
  height: auto;
  margin-bottom: 20px;
}

.container p2 {
  text-align: left;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
  background-color: darkgoldenrod;
}

.attribution a {
  color: hsl(251, 96%, 50%);
}

.container {
  text-align: left;
}

footer {
  padding: 10px 20px;
  background-color: rgb(233, 204, 14);
  color: white;
  text-align: center;
  margin-top: auto;
}
